<manifest package="com.commonsware.android.search"
          xmlns:android="http://schemas.android.com/apk/res/android">
          
  <uses-sdk android:minSdkVersion="3"
            android:targetSdkVersion="6" />
  <supports-screens android:largeScreens="false"
                    android:normalScreens="true"
                    android:smallScreens="false" />
  <application android:icon="@drawable/cw"
               android:label="Lorem Ipsum">
    <activity android:label="LoremDemo"
              android:name=".LoremDemo">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="android.app.default_searchable"
                 android:value=".LoremSearch" />
    </activity>
    <activity android:label="LoremSearch"
              android:launchMode="singleTop"
              android:name=".LoremSearch">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data android:name="android.app.searchable"
                 android:resource="@xml/searchable" />
    </activity>
    <provider android:authorities="com.commonsware.android.search.LoremSuggestionProvider"
              android:name=".LoremSuggestionProvider" />
  </application>
</manifest>