<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.commonsware.android.video">
		<application>
				<activity android:name=".VideoDemo" android:label="VideoDemo">
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />
								<category android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
		</application>
</manifest>